In [16]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
cars_data=pd.read_csv('Toyotacorolla2.csv',na_values=['??','???'])

In [18]:
cars_data2=cars_data.copy()
cars_data3=cars_data2.copy()

In [19]:
cars_data2.isna().sum()

Price        0
Age          1
KM           3
FuelType     0
HP           1
MetColor     0
Automatic    0
CC           3
Doors        0
Weight       0
dtype: int64

In [20]:
cars_data2.isnull().sum()

Price        0
Age          1
KM           3
FuelType     0
HP           1
MetColor     0
Automatic    0
CC           3
Doors        0
Weight       0
dtype: int64

In [21]:
print(np.unique(cars_data2['Age']))

[ 1.  2.  4.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18. 19. 20.
 22. 23. 24. 25. 26. 27. 28. 29. 30. 31. 32. 33. 34. 35. 36. 37. 38. 39.
 40. 41. 42. 43. 44. 45. 46. 47. 48. 49. 50. 51. 52. 53. 54. 55. 56. 57.
 58. 59. 60. 61. 62. 63. 64. 65. 66. 67. 68. 69. 70. 71. 72. 73. 74. 75.
 76. 77. 78. 79. 80. nan]

In [22]:
print(np.unique(cars_data2['KM']))

[  1.  15. 225. ...  nan  nan  nan]

In [24]:
missing=cars_data2[cars_data2.isnull().any(axis=1)]

In [26]:
missing

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
1,13750,23.0,51323.0,Diesel,90.0,1,0,NaN,3,1165
2,13950,NaN,41711.0,Diesel,90.0,1,0,2000.0,3,1165
6,16900,27.0,94612.0,Diesel,90.0,1,0,NaN,3,1245
13,21500,31.0,23000.0,Petrol,192.0,1,0,NaN,3,1185
26,17495,27.0,NaN,Petrol,110.0,1,0,1600.0,3,1120
38,15750,32.0,25329.0,Petrol,NaN,1,0,1400.0,3,1100
63,17950,30.0,NaN,Petrol,110.0,1,0,1600.0,5,1130
99,17450,18.0,NaN,Petrol,97.0,1,0,1400.0,3,1100

In [27]:
cars_data2.describe()

,Price,Age,KM,HP,MetColor,Automatic,CC,Weight
count,1436.000000,1435.000000,1433.000000,1435.000000,1436.000000,1436.000000,1433.000000,1436.00000
mean,10730.824513,55.969338,68597.480112,101.505226,0.674791,0.055710,1566.060712,1072.45961
std,3626.964585,18.587324,37507.541605,14.985830,0.468616,0.229441,186.574505,52.64112
min,4350.000000,1.000000,1.000000,69.000000,0.000000,0.000000,1300.000000,1000.00000
25%,8450.000000,44.000000,43000.000000,90.000000,0.000000,0.000000,1400.000000,1040.00000
50%,9900.000000,61.000000,63451.000000,110.000000,1.000000,0.000000,1600.000000,1070.00000
75%,11950.000000,70.000000,87083.000000,110.000000,1.000000,0.000000,1600.000000,1085.00000
max,32500.000000,80.000000,243000.000000,192.000000,1.000000,1.000000,2000.000000,1615.00000