In [1]:
import numpy as np
import pandas as pd

In [32]:
cars_data=pd.read_csv("ToyotaCorolla.csv",na_values=["??"])

In [33]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1435 non-null   float64
 2   KM         1436 non-null   int64
 3   FuelType   1436 non-null   object
 4   HP         1436 non-null   int64
 5   MetColor   1436 non-null   int64
 6   Automatic  1436 non-null   int64
 7   CC         1434 non-null   object
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(1), int64(6), object(3)
memory usage: 95.4+ KB

In [4]:
cars_data.head()

   Price Age     KM FuelType  HP  MetColor  Automatic    CC Doors  Weight
0  13500  23  46986   Diesel  90         1          0  2000     3    1165
1  13750  23  51323   Diesel  90         1          0   ???     3    1165
2  13950  ??  41711   Diesel  90         1          0  2000     3    1165
3  14950  26  48000   Diesel  90         0          0  2000     3    1165
4  13750  30  38500   Diesel  90         0          0  2000     3    1170

In [5]:
print(np.unique(cars_data["Age"]))

['1' '10' '11' '12' '13' '14' '15' '16' '17' '18' '19' '2' '20' '22' '23'
 '24' '25' '26' '27' '28' '29' '30' '31' '32' '33' '34' '35' '36' '37'
 '38' '39' '4' '40' '41' '42' '43' '44' '45' '46' '47' '48' '49' '50' '51'
 '52' '53' '54' '55' '56' '57' '58' '59' '6' '60' '61' '62' '63' '64' '65'
 '66' '67' '68' '69' '7' '70' '71' '72' '73' '74' '75' '76' '77' '78' '79'
 '8' '80' '9' '??']

In [6]:
print(np.unique(cars_data["CC"]))

['1300' '1332' '1398' '1400' '1587' '1598' '1600' '1800' '1900' '1975'
 '1995' '2000' '??' '???']

In [7]:
cars_data=pd.read_csv("ToyotaCorolla.csv",na_values=["??","???"])

cars_data.info()

In [8]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1435 non-null   float64
 2   KM         1436 non-null   int64
 3   FuelType   1436 non-null   object
 4   HP         1436 non-null   int64
 5   MetColor   1436 non-null   int64
 6   Automatic  1436 non-null   int64
 7   CC         1433 non-null   float64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(2), int64(6), object(2)
memory usage: 101.0+ KB

In [9]:
print(np.unique(cars_data["Doors"]))

['2' '3' '4' '5' 'five' 'four' 'three']

In [10]:
cars_data["MetColor"]=cars_data["MetColor"].astype('object')

In [11]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1435 non-null   float64
 2   KM         1436 non-null   int64
 3   FuelType   1436 non-null   object
 4   HP         1436 non-null   int64
 5   MetColor   1436 non-null   object
 6   Automatic  1436 non-null   int64
 7   CC         1433 non-null   float64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(2), int64(5), object(3)
memory usage: 95.4+ KB

In [12]:
cars_data["FuelType"].nbytes

5744

In [13]:
cars_data["FuelType"]=cars_data["FuelType"].astype("category").nbytes

In [14]:
cars_data["FuelType"]=cars_data["FuelType"].astype("category")

In [15]:
cars_data["FuelType"].nbytes

1444

In [34]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1435 non-null   float64
 2   KM         1436 non-null   int64
 3   FuelType   1436 non-null   object
 4   HP         1436 non-null   int64
 5   MetColor   1436 non-null   int64
 6   Automatic  1436 non-null   int64
 7   CC         1434 non-null   object
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(1), int64(6), object(3)
memory usage: 95.4+ KB

In [35]:
print(np.unique(cars_data["Doors"]))

['2' '3' '4' '5' 'five' 'four' 'three']

In [36]:
cars_data["Doors"].replace('three',3,inplace=True)

In [37]:
cars_data["Doors"].replace('four',4,inplace=True)

In [38]:
cars_data["Doors"].replace('five',5,inplace=True)

In [41]:
cars_data["Doors"].dtypes

dtype('int64')

In [39]:
cars_data['Doors']=cars_data['Doors'].astype('int64')

In [40]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1435 non-null   float64
 2   KM         1436 non-null   int64
 3   FuelType   1436 non-null   object
 4   HP         1436 non-null   int64
 5   MetColor   1436 non-null   int64
 6   Automatic  1436 non-null   int64
 7   CC         1434 non-null   object
 8   Doors      1436 non-null   int64
 9   Weight     1436 non-null   int64
dtypes: float64(1), int64(7), object(2)
memory usage: 101.0+ KB

In [23]:
cars_data['KM'].sum()

98392147

In [42]:
cars_data['Price'].sum()

15409464

In [43]:
cars_data.isnull().sum()

Price        0
Age          1
KM           0
FuelType     0
HP           0
MetColor     0
Automatic    0
CC           2
Doors        0
Weight       0
dtype: int64

In [25]:
%save pandas3.py 1-45

File `pandas3.py` exists. Overwrite (y/[N])?
Operation cancelled.